<a href="https://colab.research.google.com/github/thanmai09/mongodb-commands/blob/main/Inc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
C:\Users\LENOVO>mongosh
Current Mongosh Log ID: 6963c7f957a2b179c11e2620
Connecting to:          mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.10
Using MongoDB:          7.0.28
Using Mongosh:          2.5.10

For mongosh info see: https://www.mongodb.com/docs/mongodb-shell/

------
   The server generated these startup warnings when booting
   2026-01-03T12:40:57.564+05:30: Access control is not enabled for the database. Read and write access to data and configuration is unrestricted
------

test> show dbs
admin       40.00 KiB
config      72.00 KiB
employees  112.00 KiB
local       72.00 KiB
test       112.00 KiB
test> use employees
switched to db employees
employees> db.emp.find()
[
  {
    _id: ObjectId('694d0b53d53b3b43f01e2621'),
    ename: 'abc',
    empid: 1234,
    sal: 6000
  },
  {
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    ename: 'xyz',
    empid: 9876,
    sal: 90000
  },
  {
    _id: ObjectId('6952a1edc8c56c09791e2621'),
    ename: 'thanmai',
    empid: 789,
    sal: 100000000
  },
  {
    _id: ObjectId('6952a20fc8c56c09791e2622'),
    name: 'mummy',
    sal: 900000
  },
  {
    _id: ObjectId('6952a233c8c56c09791e2623'),
    ename: 'nani',
    empid: 9196,
    sal: 78000
  },
  {
    '0': 'd',
    '1': 'h',
    '2': 'a',
    '3': 'r',
    '4': 'a',
    '5': 'n',
    '6': 'i',
    _id: ObjectId('695bd585d8926b7d2d1e2621')
  },
  {
    '0': 'd',
    '1': 'h',
    '2': 'a',
    '3': 'r',
    '4': 'a',
    '5': 'n',
    '6': 'i',
    _id: ObjectId('695bd5e1d8926b7d2d1e2622')
  }
]
employees> db.emp.updateOne({ename:"abc"},{$unset:{sal:""}})
{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
employees> db.emp.find()
[
  {
    _id: ObjectId('694d0b53d53b3b43f01e2621'),
    ename: 'abc',
    empid: 1234
  },
  {
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    ename: 'xyz',
    empid: 9876,
    sal: 90000
  },
  {
    _id: ObjectId('6952a1edc8c56c09791e2621'),
    ename: 'thanmai',
    empid: 789,
    sal: 100000000
  },
  {
    _id: ObjectId('6952a20fc8c56c09791e2622'),
    name: 'mummy',
    sal: 900000
  },
  {
    _id: ObjectId('6952a233c8c56c09791e2623'),
    ename: 'nani',
    empid: 9196,
    sal: 78000
  },
  {
    '0': 'd',
    '1': 'h',
    '2': 'a',
    '3': 'r',
    '4': 'a',
    '5': 'n',
    '6': 'i',
    _id: ObjectId('695bd585d8926b7d2d1e2621')
  },
  {
    '0': 'd',
    '1': 'h',
    '2': 'a',
    '3': 'r',
    '4': 'a',
    '5': 'n',
    '6': 'i',
    _id: ObjectId('695bd5e1d8926b7d2d1e2622')
  }
]
employees> db.emp.update({ename:{$eq:"xyz"}},{$inc:{sal:2000}})
DeprecationWarning: Collection.update() is deprecated. Use updateOne, updateMany, or bulkWrite.
{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
employees>