<a href="https://colab.research.google.com/github/thanmai09/mongodb-commands/blob/main/projections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
C:\Windows\system32>mongosh
Current Mongosh Log ID: 695004babbeca2013c1e2620
Connecting to:          mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.10
MongoNetworkError: connect ECONNREFUSED 127.0.0.1:27017

C:\Windows\system32>net start MongoDB
The MongoDB Server (MongoDB) service is starting.
The MongoDB Server (MongoDB) service was started successfully.


C:\Windows\system32>mongosh
Current Mongosh Log ID: 69500504d9e634e3151e2620
Connecting to:          mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.10
Using MongoDB:          7.0.28
Using Mongosh:          2.5.10

For mongosh info see: https://www.mongodb.com/docs/mongodb-shell/

------
   The server generated these startup warnings when booting
   2025-12-27T21:40:08.998+05:30: Access control is not enabled for the database. Read and write access to data and configuration is unrestricted
------

test> show dbs
admin       40.00 KiB
config      72.00 KiB
employees   72.00 KiB
local       40.00 KiB
test       112.00 KiB
test> use employees
switched to db employees
employees> db.emp.find()
[
  {
    _id: ObjectId('694d0b53d53b3b43f01e2621'),
    ename: 'abc',
    empid: 1234,
    sal: 6000
  },
  {
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    ename: 'xyz',
    empid: 9876,
    sal: 90000
  }
]
employees> db.emp.findOne()
{
  _id: ObjectId('694d0b53d53b3b43f01e2621'),
  ename: 'abc',
  empid: 1234,
  sal: 6000
}
employees> db.emp.find()
[
  {
    _id: ObjectId('694d0b53d53b3b43f01e2621'),
    ename: 'abc',
    empid: 1234,
    sal: 6000
  },
  {
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    ename: 'xyz',
    empid: 9876,
    sal: 90000
  }
]
employees> db.emp.fint({empid:1234})
TypeError: db.emp.fint is not a function
employees> db.emp.find({empid:1234})
[
  {
    _id: ObjectId('694d0b53d53b3b43f01e2621'),
    ename: 'abc',
    empid: 1234,
    sal: 6000
  }
]
employees>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        db.emp.find().limit(!)
Uncaught:
SyntaxError: Unexpected token (1:1212)

> 1 |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        db.emp.find().limit(!)
    |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              employees> emp
ReferenceError: emp is not defined
employees> db.emp.find()
[
  {
    _id: ObjectId('694d0b53d53b3b43f01e2621'),
    ename: 'abc',
    empid: 1234,
    sal: 6000
  },
  {
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    ename: 'xyz',
    empid: 9876,
    sal: 90000
  }
]
employees> db.emp.find({},{sal:1}).sort({sal:1})
[
  { _id: ObjectId('694d0b53d53b3b43f01e2621'), sal: 6000 },
  { _id: ObjectId('694d0c32d53b3b43f01e2622'), sal: 90000 }
]
employees> db.emp.find({},{sal:1}).sort({sal:-1})
[
  { _id: ObjectId('694d0c32d53b3b43f01e2622'), sal: 90000 },
  { _id: ObjectId('694d0b53d53b3b43f01e2621'), sal: 6000 }
]
employees> db.emp.find({},{ename:1})
[
  { _id: ObjectId('694d0b53d53b3b43f01e2621'), ename: 'abc' },
  { _id: ObjectId('694d0c32d53b3b43f01e2622'), ename: 'xyz' }
]
employees> db.emp.find({},{ename:1}).sort({ename:1})
[
  { _id: ObjectId('694d0b53d53b3b43f01e2621'), ename: 'abc' },
  { _id: ObjectId('694d0c32d53b3b43f01e2622'), ename: 'xyz' }
] },
employees> db.emp.find({},{ename:1}).sort({ename:-1})
[   _id: ObjectId('694d0c32d53b3b43f01e2622'),
  { _id: ObjectId('694d0c32d53b3b43f01e2622'), ename: 'xyz' },
  { _id: ObjectId('694d0b53d53b3b43f01e2621'), ename: 'abc' }
]   sal: 90000
employees> db.emp.find()
[
  {loyees>  db.emp.find().limit(1).skip(1)
    _id: ObjectId('694d0b53d53b3b43f01e2621'),
    ename: 'abc',
    empid: 1234,d('694d0c32d53b3b43f01e2622'),
    sal: 6000yz',
  },empid: 9876,
  { sal: 90000
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    ename: 'xyz',
    empid: 9876,ployees.insertMany([{ename:"john", empid:788,sal:8765},{ename:"zuki",empid:7890,sal:9000},{ename:"abhi",empid:234,sal:20000},{ename:"
    sal: 900003039,sal:20000}])
  }
] acknowledged: true,
employees> db.emp.find({},{ename:1}).sort({empid:1},{sal:-1})
[   '0': ObjectId('69500fd5d9e634e3151e2621'),
  { _id: ObjectId('694d0b53d53b3b43f01e2621'), ename: 'abc' },
  { _id: ObjectId('694d0c32d53b3b43f01e2622'), ename: 'xyz' }
]   '3': ObjectId('69500fd5d9e634e3151e2624')
employees> db.emp.find({},{empid:1,sal:1})
[
  { _id: ObjectId('694d0b53d53b3b43f01e2621'), empid: 1234, sal: 6000 },
  {
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    empid: 9876,d('694d0b53d53b3b43f01e2621'),
    sal: 90000c',
  } empid: 1234,
]   sal: 6000
employees> db.emp.find({},{empid:1,sal:1}).sort({empid:1},{sal:-1})
[ {
  { _id: ObjectId('694d0b53d53b3b43f01e2621'), empid: 1234, sal: 6000 },
  { ename: 'xyz',
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    empid: 9876,
    sal: 90000
  }
]mployees>
employees>