<a href="https://colab.research.google.com/github/thanmai09/mongodb-commands/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
C:\Windows\system32>mongosh
Current Mongosh Log ID: 6953e90fc151420c2d1e2620
Connecting to:          mongodb://12:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.10
Using MongoDB:          7.0.28
Using Mongosh:          2.5.10

For mongosh info see: https://www.mongodb.com/docs/mongodb-shell/

------
   The server generated these startup warnings when booting
   2025-12-28T13:12:29.560+05:30: Access control is not enabled for the database. Read and write access to data and configuration is unrestricted
------

test> show dbs
admin       40.00 KiB
config      96.00 KiB
employees  112.00 KiB
local       72.00 KiB
test       112.00 KiB
test> use employees
switched to db employees
employees> db.emp.find()
[
  {
    _id: ObjectId('694d0b53d53b3b43f01e2621'),
    ename: 'abc',
    empid: 1234,
    sal: 6000
  },
  {
    _id: ObjectId('694d0c32d53b3b43f01e2622'),
    ename: 'xyz',
    empid: 9876,
    sal: 90000
  },
  {
    _id: ObjectId('6952a1edc8c56c09791e2621'),
    ename: 'thanmai',
    empid: 789,
    sal: 90000
  },
  {
    _id: ObjectId('6952a20fc8c56c09791e2622'),
    ename: 'pavani',
    empid: 3789,
    sal: 7000
  },
  {
    _id: ObjectId('6952a233c8c56c09791e2623'),
    ename: 'nani',
    empid: 319,
    sal: 78000
  }
]
employees> db.emp.find({enmae:{$in:["nani","pavani"]})
Uncaught:
SyntaxError: Unexpected token, expected "," (1:42)

> 1 | db.emp.find({enmae:{$in:["nani","pavani"]})
    |                                           ^
  2 |

employees> db.emp.find({enmae:{$in:["nani","pavani"]}})

employees> db.emp.find({enmae:{$in:["nani"]}})

employees> db.emp.find({enmae:{$in:["pavani"]}})

employees>